span.search {
	display: inline-block;
}

.recentReleases {
	column-count: 3;
	column-gap: 200px;
}

.recentReleases ul {
	list-style: none;
}

.recentReleases img {
	height: 70px;
	width: 70px;
}

.pageButtons {
	background-color: white;
	border: none;
}
.resultSection {

}

.resultSection ul {
	list-style: none;
}

.resultSection img {
	height: 70px;
	width: 70px;
}

.resultButtons {
	background-color: white;
	border: none;
}

.hlRatedMovies {
	column-count: 2;
	column-gap: 400px;
	padding-left: 100px;
}

.hlRatedMovies img {
	height: 70px;
	width: 70px;
}

.moviePoster {
	column-count: 2;
	column-fill: balance;
	column-gap: 10px;
}

.movieInfo {
	list-style: none;
}

.ratingScale {
	list-style: none;
}

.ratingScale li {
	display: inline-block;
	padding: 20px;
}

.reviewDisplay {
	list-style: none;
}

.reviewDisplay li {
	display: inline-block;
	padding: 10px;
}

.userPage {
	column-count: 2;
	column-gap: 500px;
	padding-left: 100px;
}

.userPage ul {
	list-style: none;
}
