body {
	margin: 0px;
}

span.search {
	display: inline-block;
}

.recentReleases {
	column-count: 3;
	column-gap: 200px;
	font-size: 20px;
}

.recentReleases ul {
	list-style: none;
}

.recentReleases li {
	text-decoration: underline;
}

.recentReleases img {
	height: 110px;
	width: 110px;
}

.recentReleasesGames {
	column-count: 3;
	column-gap: 80px;
	font-size: 20px;
}

.recentReleasesGames ul {
	list-style: none;
}

.recentReleasesGames li {
	text-decoration: underline;
}

.recentReleasesGames img {
	height: 100px;
	width: 100px;
}

.pageButtons {
	background-color: white;
	border: none;
	text-decoration: underline;
}
.resultSection {
	font-size: 20px;
}

.resultSection ul {
	list-style: none;
}

.resultSection li {
	text-decoration: underline;
}

.resultSection img {
	height: 110px;
	width: 110px;
}

.resultButtons {
	background-color: white;
	border: none;
	text-decoration: underline;
}

.hlRatedMovies {
	column-count: 2;
	column-gap: 400px;
	padding-left: 100px;
	font-size: 20px;
}

.hlRatedMovies img {
	height: 110px;
	width: 110px;
}

.hlRatedMovies li {
	text-decoration: underline;
}

.moviePoster {
	column-count: 2;
	column-fill: balance;
	column-gap: 10px;
}

.movieInfo {
	list-style: none;
}

.movieInfo span{
	font-weight: bold;
	text-decoration: underline;
}

.ratingScale {
	list-style: none;
}

.ratingScale li {
	display: inline-block;
	padding: 20px;
}

.reviewDisplay {
	list-style: none;
}

.reviewDisplay li {
	display: inline-block;
	padding: 10px;
}

.userPage {
	font-size: 25px;
}


.frontPage {
	column-count: 3;
	column-gap: 50px;
	padding-left: 120px;
	font-size: 20px;
}

.frontPage img {
	height: 110px;
	width: 110px;
}

.frontPage ul {
	list-style: none;
}

.frontPage li {
	text-decoration: underline;
}

.trending {
	column-count: 2;
} 

.trending ul {
	list-style: none;
}

.tab {
	margin-left: 40px;
}

.changePasswordForm {
	vertical-align: center;
}

.createAccount {
	
}

.createAccount span {
	position: fixed;
}

.vgResults *{
	

}

.col-container {
  display: table;
  table-layout: fixed;
}

.col {
  display: table-cell;
  width: auto;
  height: auto;
  vertical-align: top;
}

@media only screen and (max-width: 600px) {
  .col { 
    display: block;
    width: 100%;
  }
}

.backButton {
	padding-left: 30px;
	padding-bottom: 30px;
	font-size: 30px;
}

.backButton img {
	height: 30px;
	width: 30px;
}